@model Clase_Biblioteca.Models.Loan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group">
                <label asp-for="alumno_cuenta" class="control-label"></label>
                <input asp-for="alumno_cuenta" class="form-control" />
                <span asp-validation-for="alumno_cuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="libro_id" class="control-label"></label>
                <input asp-for="libro_id" class="form-control" />
                <span asp-validation-for="libro_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_entrega" class="control-label"></label>
                <input asp-for="fecha_entrega" class="form-control" />
                <span asp-validation-for="fecha_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_a_devolver" class="control-label"></label>
                <input asp-for="fecha_a_devolver" class="form-control" />
                <span asp-validation-for="fecha_a_devolver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_devolucion" class="control-label"></label>
                <input asp-for="fecha_devolucion" class="form-control" />
                <span asp-validation-for="fecha_devolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observaciones" class="control-label"></label>
                <input asp-for="observaciones" class="form-control" />
                <span asp-validation-for="observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
